
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="center error-message">
    <h1>Something went terribly wrong!</h1>
</div>
<a class="btn btn-dark" href="/">Back</a>
