
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

@section Styles
{
    @Styles.Render("~/bundles/errorcss")
}

<div class="center error-message">
    <h1>Something went terribly wrong!</h1>
</div>

