
@{
    ViewBag.Title = "500 Error";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="canter error-message">
    <h1>500 Internal Server Error</h1>
</div>
<a class="btn btn-dark" href="/">Back</a>

