
@{
    ViewBag.Title = "404 NotFound";
}

<h2>404! NotFound!</h2>

<div id="arena">
    <div id="score">
        <h1>
            <span id="playerScore">0</span>
            -
            <span id="opponentScore">0</span>
        </h1>
    </div>
    <div id="player"></div>
    <div id="opponent"></div>
    <div id="ball"></div>
    <div id="controls-left">
        <div id="up"></div>
        <div id="down"></div>
    </div>
    <div id="controls-right">
        <div id="left"></div>
        <div id="right"></div>
    </div>
</div>