@*CODE REVIEW TODO: consolidate layouts use js for changes*@
<div class="icon-container">
    <div class="icons">
        <a href="#" alt="To Kimiko Muwanguzi's Github profile, but not really.">
            <i class="fa fa-3x fa-github-square"></i>
        </a>
    </div>
    <div class="icons">
        <a href=#" alt="To Kimiko Muwanguzi's LinkedIn profile. Actually, it's to no where.'">
            <i class="fa fa-3x fa-linkedin-square"></i>
        </a>
    </div>
    <div class="icons">
        @*<a href="@Html.Action("Contact", "Home")" alt="To Kimiko Muwanguzi's contact information">
                <i class="fa fa-3x fa-envelope-square"></i>
            </a>*@

        @*Set up contact form modal for later*@
        <a href="#" data-toggle="modal" data-target="#formModal" data-whatever="test" alt="You can contact no one.">
            <i class="fa fa-3x fa-envelope-square"></i>
        </a>
    </div>
    <div class="icons">
        <a onclick="ga('send', 'event', 'View Resume', 'click');" class="" href="#" alt="This resume is not for you.">
            <i class="fa fa-3x fa-file-text"></i>
        </a>
    </div>
</div>

