
<div class="icon-container">
    <div class="icons">
        <a target="_blank" href="https://github.com/kimikomu" alt="To Kimiko Muwanguzi's Github profile">
            <i class="fa fa-3x fa-github-square" href="github.com"></i>
        </a>
    </div>
    <div class="icons">
        <a target="_blank" href="https://linkedin.com/in/kimikomuwanguzi" alt="To Kimiko Muwanguzi's LinkedIn profile">
            <i class="fa fa-3x fa-linkedin-square"></i>
        </a>
    </div>
    <div class="icons">
        <a href="/Contact" alt="To Kimiko Muwanguzi's contact information">
            <i class="fa fa-3x fa-envelope-square"></i>
        </a>

        @*Set up contact form modal for later*@
        @*<a href="#" data-toggle="modal" data-target="#formModal" data-whatever="test" alt="To Kimiko Muwanguzi's email">
                <i class="fa fa-3x fa-envelope-square"></i>
            </a>*@
    </div>

    @*CODE REVIEW TODO: icons.js with module pattern*@
    <div class="icons">
        <a onclick="ga('send', 'event', 'View Resume', 'click');" class="" target="_blank" href="~/Content/Documents/kimiko-resume.pdf" alt="To Kimiko Muwanguzi's resume">
            <i class="fa fa-3x fa-file-text"></i>
        </a>
    </div>
</div>

